body {
    font-family: Verdana, Geneva, 'Microsoft Yahei', sans-serif;
    font-size: 1.1em;
    background-image: url("/img/background.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
}

div {
    display: block;
}

a, .article del a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    transition: color .4s;
}

.article a {
    color: #1b603b;
}

.article del:hover a {
    color: #2c9c60;
}

a:hover {
    color: #efefef;
    text-decoration: underline;
}

abbr {
    text-decoration: none;
}

del {
    background-color: #000000;
    color: #000000;
    text-decoration: none;
    padding: 0.1em 0.2em;
    transition: color .4s;
}

del:hover {
    color: #efefef;
}

button {
    transition: color .4s;
    cursor: pointer;
}

code {
    font-size: 1em;
    font-family: Consolas, monospace;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0 0.2em;
    border-radius: 0.2em;
}

blockquote {
    color: #3a3a3a;
    background-color: rgba(255, 253, 220, 0.6);
    border-left: 0.4em solid #959595;
    padding: 2px 15px;
    margin: 20px 0;
}

textarea {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    max-width: 100%;
    outline: none;
}

iframe.pdf {
    width: 100%;
    height: 120%;
}

img {
    text-align: center;
    max-width: 75%;
    margin: 1% auto 1% auto;
}

.article img {
    width: 75%;
    margin: 1% auto;
    display: block;
}

.article img + em {
    display: block;
    text-align: center;
}

img.inline-img {
    display: inline-block;
    height: 1em;
    vertical-align: baseline;
}

input[type=text], input[type=number], select, button {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: 1px solid #000000;
    padding: 1px 2px;
    max-width: 100%;
    font-size: 1.1em;
}

input[type=text]:focus, input[type=number]:focus, select:focus, button:focus {
    border: 1px solid #3a3a3a;
}

select {
    text-align: center;
}

fieldset {
    border: 2px solid #444;
}

fieldset legend {
    color: #444;
    font-size: 0.8em;
}

/* table styles */

table {
    border-collapse: collapse;
    margin: 10px 0px;
}

table tr td, table tr th {
    padding: 12px;
}

table[border] tr td, table[border] tr th {
    border: 1px solid #000;
}

.article table tr th {
    border-bottom: 2px solid #000;
}

datalist {
    display: flex;
    flex-direction: row;
}

/* reactive list styles */

ul.react {
    list-style-type: none;
}

ul.react li:hover {
    list-style-type: circle;
}

/* other */

.floatleft {
    float: left;
    margin: auto 0 auto 0;
}

.floatright {
    float: right;
    margin: auto 0 auto 0;
}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    background-color: rgba(240, 240, 240, 0.85);
    margin: 0.4em 0.3em 0.4em 0.3em;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    overflow-x: auto;
}

.card h1, .card h2, .card h3 {
    text-align: center;
}

.card.notification {
    background-color: rgba(56, 200, 210, 0.85);
    color: #efefef;
    font-size: 1.2em;
    font-weight: bold;
}

.card.notification p::before {
    content: "i: ";
    font-size: 1.4em;
}

.card.indexing {
    cursor: pointer;
    text-align: center;
    transition: background-color .4s;
}

.card.indexing:hover {
    background-color: rgba(240, 240, 240, 0.95);
}

.card.citation ul li a, .card.citation ol li a {
    font-style: italic;
}

.card.row {
    flex-grow: 1;
}

.center {
    text-align: center;
}

.warn {
    color: #bb312c;
    font-size: 1.3em;
    font-weight: bold;
}

.warn::before {
    content: "!: ";
}

.boxed {
    border: solid 2px #000000;
    border-radius: 12px;
    margin: 20px 0px;
    padding: 15px;
}

.boxed.comment {
    border: solid 2px #444;
    color: #444;
}

.boxed.comment h5::before, .boxed.comment h6::before {
    content: "// ";
}

/* element styles */

#container {
    display: flex;
    flex-direction: column;
}

#header {
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
    background-color: rgba(56, 200, 123, 0.7);
    position: relative;
}

#navbar a {
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    text-align: center;
    text-decoration: none;
    color: #efefef;
    font-weight: bold;
    transition: background-color .4s;
}

#navbar a.strong {
    font-size: 1.3em;
}

#navbar a:hover {
    background-color: rgba(56, 200, 123, 0.9);
}

#main {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#left {
    width: 70%;
    margin: 0;
}

#right {
    width: 30%;
    margin: 0;
}

#avatar {
    position: sticky;
    text-align: center;
    display: block;
    top: 1%;
}

#image {
    width: 60%;
    height: 60%;
    clear: both;
    margin: 1% 20% 1% 20%;
}

#accounts {
    font-size: 2em;
}

#accounts a {
    margin: 3%;
}

#footer {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(215, 215, 215, 0.85);
    font-size: 0.7em;
    text-align: center;
    color: #444;
}