<div class="card" id="avatar">
    <img src="{{site.icon}}" alt="avatar" id="image">
    <a href="/blog/aboutme/" id="name">{{site.author}}</a>
    <div class="inline" id="accounts">
        <a href="https://github.com/{{site.github_username}}"><i class="fa-brands fa-github"></i></a>
        <a href="https://space.bilibili.com/{{site.bilibili_id}}"><i class="fa-brands fa-bilibili"></i></a>
        <a href="https://www.zhihu.com/people/{{site.zhihu_username}}"><i class="fa-brands fa-zhihu"></i></a>
        <a href="mailto:{{site.email}}"><i class="fa-regular fa-envelope"></i></a>
    </div>
</div>