
<div id="header">
    <div id="navbar" class="inline">
        <a href="/" class="strong">{{site.title.en}}</a>
        <a href="{% link about.md %}"><i class="fa-solid fa-user"></i>about me</a>
        <a href="/blog-en/"><i class="fa-regular fa-file-lines"></i>blog</a>
        <a href="/app/"><i class="fa-solid fa-cubes-stacked"></i>app</a>
        <a href="/translation/"><i class="fa-solid fa-globe"></i>translation</a>
        <a href="/travel-map/"><i class="fa-solid fa-map"></i>map</a>
        <a href="/feed.xml"><i class="fa-solid fa-rss"></i>RSS</a>
    </div>
</div>