
<div id="header">
    <div id="navbar" class="inline">
        <a href="/" class="strong">{{site.title.zh}}</a>
        <a href="{% link about.md %}"><i class="fa-solid fa-user"></i>我是谁？</a>
        <a href="/blog-zh/"><i class="fa-regular fa-file-lines"></i>博客</a>
        <a href="/app/"><i class="fa-solid fa-cubes-stacked"></i>应用</a>
        <a href="/translation/"><i class="fa-solid fa-globe"></i>翻译</a>
        <a href="/travel-map/"><i class="fa-solid fa-map"></i>地图</a>
        <a href="/feed.xml"><i class="fa-solid fa-rss"></i>RSS</a>
    </div>
</div>