#chessboard {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 8.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td {
    border: 0.15em solid #151515;
}

.cell {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 1.5em;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
}

.cell:hover {
    background-color: rgba(249, 251, 120, 0.6);
}

.cell.t:hover {
    background-color: rgba(112, 178, 245, 0.6);
}

span.x::before {
    content: "x";
    color: #149546;
}

span.o::before {
    content: "o";
    color: #a22117;
}

.gamerule {
    text-align: center;
}

button.control {
    border: 3px double #000000;
    padding: 1.5%;
    margin: 3%;
    font-size: 1em;
    font-family:'Courier New', Courier, monospace;
    background-color: rgba(241, 241, 241, 0.7);
}

button.control:hover {
    background-color: rgba(201, 201, 201, 0.7);
}

div#players {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

div.player {
    border-left: 0.2em solid rgba(0,0,0,0);
    border-right: 0.2em solid rgba(0,0,0,0);
    border-radius: 12%;
    padding: 2%;
}

div.player p {
    font-weight: bold;
}

div.player.current-player {
    border-left: 0.2em solid #259acf;
    border-right: 0.2em solid #259acf;
    color: #127aaf;
}