---
title: app
layout: default
no_output: true
---

{% assign apps = site.app | sort: 'date' | reverse %}
{% for app in apps %}
{% unless app.no_output %}
<div class="card indexing" onclick="window.open('{{app.url}}')">
    <h2>{{app.title}}</h2>
    <p class="center"><i class="fa fa-file-text-o"></i> {{app.introduction}}</p>
    {% if app.date %}
    <p class="center">{{app.date | date: "%b %d, %Y"}}</p>
    {% endif %}
    <p class="go">Run</p>
</div>
{% endunless %}
{% endfor %}

<style>
.go {
    text-align:right;
    font-size: 1.5em;
    font-weight: bold;
}
.go::after {
    content: ">>>";
    font-size: 1.6em;
}
</style>