.coin {
    border: 0.15em solid #000000;
    border-radius: 50%;
    font-size: 3em;
    font-weight: bold;
    transition: color .4s, border .4s;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

#throw {
    font-size: 1.5em;
    border: 2px solid #efefef;
    border-radius: 5%;
    padding: 2%;
    background-color: #000000;
    color: #efefef;
    transition: color 0.3s, background-color, 0.3s;
}
#throw:hover {
    background-color: #efefef;
    color: #000000;
}

#choice {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}