<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    <title>{{page.title}} - {{site.title.en}}</title>
</head>
<body>
<div id='container'>
    <!-- include the header corresponding to the blog's language -->
    {% if page.categories contains "blog-en" %}
    {% include header-en.html %}
    {% else %}
    {% include header-zh.html %}
    {% endif %}
    <div id='main'>
        <div id='left'>
            {% if page.languages %}
            <div class='card' id='language-switch'>
                Language:
                {% for lang in site.language %}
                {% if page.languages[lang.abbr] %}
                <!-- {{page.languages[lang.abbr]}} -->
                <a href='{% link {{page.languages[lang.abbr]}} %}'>[{{lang.name}}]</a>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <div class='card article'>
                {% katexmm %}
                <h1>{{page.title}}</h1>
                {{content}}
                {% endkatexmm %}
            </div>
        </div>
        <div id='right'>
            {% include avatar.html %}
        </div>
    </div>
    {% include footer.html %}
</div>
</body>
</html>