<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    <title>home - {{site.title}}</title>
    <!-- Gitalk -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

    <!-- style for index.html -->
    <style>
        #avatar {
            position: static;
        }
        .article div {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
        .article div img {
            width: 100%;
            max-width: 100%;
        }
    </style>
</head>
<body>
<div id='container'>
    {% include header.html %}
    <div id='main'>
        <div id='left'>
            <!-- notification -->
            {% if page.notification %}
            <div class="card notification">
                <p>{{page.notification}}</p>
            </div>
            {% endif %}

            <div class="card blog" onclick="window.open('/blog/', '_self')">
                <h2><i class="fa fa-box-archive"></i> More Blogs >>></h2>
            </div>
            <div class="card article">
                <h1>我的博客 {{site.title}}</h1>
                {{content}}
            </div>
            <!-- Gitalk -->
            <div class="card" id="gitalk-container"></div>
            <script>
                var gitalk = new Gitalk({
                    clientID: '0be504f6ada9cd00b6f8',
                    clientSecret: '4dc3501940136fbf0065e8f18e5f5a72c8f60475',
                    repo: 'mqcreaple.github.io',
                    owner: 'MqCreaple',
                    admin: ['MqCreaple'],
                    id: window.location.pathname,
                });
                gitalk.render('gitalk-container');
            </script>
        </div>
        <div id='right'>
            {% include avatar.html %}
            {% if site.data.friends %}
            <div class="card">
                <h2>Links</h2>
                <ul class="react">
                    {% for friend in site.data.friends %}
                    <li>
                        <img class="inline-img" src="{{friend.image}}" />
                        <a href="{{friend.url}}" target="_blank">{{friend.name}}</a>
                        {% if friend.github %}
                        |&nbsp;<a href="https://github.com/{{friend.github}}"><i class="fa-brands fa-github"></i></a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    {% include footer.html %}
</div>
</body>
</html>